

<h5>Employee Details</h5>
<ul class="nav bg-light text-dark">
    <li class="nav-item">
        <a  routerLink="/employees" class="nav-link">Employees</a>
    </li>
    <li class="nav-item">
        <a routerLink="/add" class="nav-link">Add Employees</a>
    </li>
</ul>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]="employeeDetails?.photoPath" class="card-img" alt=" ">
        <div class="btn-group">
         <button type="button" class="btn btn-primary" routerLink="/update/{{employeeDetails?.id}}">Update</button>
        </div>
        <div class="btn-group">
         <button type="button" class="btn btn-warning" (click)="remove()">Remove</button>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h6 class="card-title">Employee Id {{employeeDetails?.id}}</h6>
          <h6 class="card-title">First Name {{employeeDetails?.firstname}}</h6>
          <h6 class="card-title">Last Name {{employeeDetails?.lastname}}</h6>
          <h6 class="card-title">Email Address {{employeeDetails?.email}}</h6>
        </div>
      </div>
    </div>
  </div>


